<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
            rel="stylesheet"
    />
</head>
<body>
<header th:insert="navbar :: navbar">  </header>

<!--Nouveau front-->
    <section style="background-color: #eee;">

        <form method="post"  th:action="@{/user/edit}" th:object="${userDTO}" >
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img th:src="${user.getPicture}" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 200px;">
                        <h5 class="my-3" th:text="${user.firstname}+' '+${user.lastname}"></h5>
                        <div class="d-flex justify-content-center mb-2">
                            <form method="get" th:action="@{/user/edit}">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="card mb-4" >
                    <div class="card-body" >
                        <div class="row" >
                            <div class="col-sm-3" >
                                <p class="mb-0">FirstName</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" th:field="${user.firstname}" id="firstname"/>
                            </div>
                        </div>
                        <hr>
                        <div class="row" >
                            <div class="col-sm-3" >
                                <p class="mb-0">LastName</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" th:field="${user.lastname}" id="lastname"/>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" th:field="${user.email}" id="email" />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Password</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="password" th:field="${user.password}" id="password" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        </form>
    </section>
</body>
</html>